.header {
  background-color:  lightblue;
  height: 200px;
  width: 1000px;
  margin: 0 auto;
}

.content {
  background-color: orange;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px
}

.column {
  background-color: red;
  height: 600px;
  width: 300px;
  margin: 0px 16.6px;
float: left;
}

.story {
  background-color: purple;
  width: 300px;
  height: 280px;
  margin: 10px 0px; 

}
