.header {
  background-color:  lightblue;
  height: 200px;
  width: 80%;
  margin: 0 auto;
}

.content {
  background-color: orange;
  height: 600px;
  width: 100%;
  margin-top: 10px;
}

.column {
  background-color: red;
  height: 600px;
  width: 250px;
float: left;
margin-right: 10px;
}
